.contact-footer {
    padding: 70px 0 100px;
    @media (max-width: 1199.98px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__icon{
        flex: 0 0 87px;
        @media (max-width: 1199.98px) {
            flex: 0 0 45px;
        }
        @media (max-width: 767.98px) {
            flex: 0 0 28px;
        }
    }

    .point-link, .phone-link, .mail-link{
        color: $black;
        font-size: 2.8rem;
        letter-spacing:-0.5px;
        font-weight: 600;
        @media (max-width: 1199.98px) {
            font-size: 2.2rem;
            letter-spacing:-0.25px;
        }
        &:hover{
            color: $main_color;
        }
    }
    .phone-link {
        font-size: 3.8rem;
        @media (max-width: 1199.98px) {
            font-size: 2.7rem;
            letter-spacing:-0.33px;
        }
    }
    .copyright{
        padding-top: 100px;
    }
}